* {
-style1-color: rgb(56, 18, 13, .9);
-style2-color: rgb(38, 17, 10, 2);
-style3-color: rgb(143, 126, 124, 2);
-style4-color: rgb(56, 18, 13, 0.95);
-style5-color: rgb(105, 48, 32, 1);
-style6-color: rgb(252, 229, 169, 1);
}

.button {
    -fx-background-color: -style1-color;
    -fx-text-fill: black;
    -fx-opacity: 1;
    -fx-font-size:15.0;
    -fx-font-weight: bold;
    -fx-text-fill: -style3-color;
    -fx-text-border: black;
    -fx-border-color: -style2-color;
}
.button: focused {
    -fx-background-color: -style1-color;
    -fx-opacity: 0.85;
}


.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 0.3em; /* 3 */
    -fx-text-fill: black;
    -fx-opacity: 1;
    -fx-font-size:12.0;
    -fx-font-weight: bold;
}

.list-cell:odd {
    -fx-background-color: transparent;
}

.list-view:focused .list-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}

.list-view:focused .list-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 1, 2;
}

/* When the list-cell is selected and focused */
.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -style4-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -style4-color;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -style5-color, -style5-color, -style4-color;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

/* When the ListView is _not_ focused, we show alternate selection colors */
.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.list-cell:filled:hover {
    -fx-background-color: -style6-color;
    -fx-text-fill: -fx-text-inner-color;
}

.list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}

.list-view:horizontal .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected:hover {
    -fx-background-color: linear-gradient(to right, derive(-fx-accent,-7%), derive(-fx-accent,-25%));
}